<% if @player && @player.name %>
  Welcome to Battleships, <%= @player.name %>! <br>
  <a href = '/start_game'>Start the game</a>
<% else %>
  <% if @player && @player.name %>
    You did not enter a name. Please enter your name.
  <% end %>
  <form>
  What's your name?
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
  <% end %>
<%= params %>
