<link href="<%= url('../styles/styles.css') %>" rel="stylesheet" type="text/css" />

<div>
  <ul class="container">
    <a href="place_ship"
    <% @board.each do |square| %>
      <li><%= square %></li>
      <% end %>
  </ul>
</div>
