<style>
    .container {
      height: 700px;
      width: 720px;
      /*border: 2px solid blue;*/
    }

    .water {
      height: 65px;
      width: 65px;
      border: 2px solid white;
      float: left;
      background-color: blue;
    }

    .ship {
      height: 65px;
      width: 65px;
      border: 2px solid white;
      float: left;
      background-color: grey;
    }

    .ship_hit {
      height: 65px;
      width: 65px;
      border: 2px solid white;
      float: left;
      background-color: red;
    }

    #abc {
      height: 30px;
      width: 700px;
      /*border: 2px solid blue;*/
      float: left;
    }

     .letter {
        height: 30px;
        width: 65px;
        border: 2px solid blue;
        float: left;
        color: blue;
      }

      #numbers {
        margin-top: 30px;
        height: 700px;
        width: 30px;
        /*border: 2px solid blue;*/
        float: left;
      }

       .number {
          height: 65px;
          width: 30px;
          border: 2px solid blue;
          float: left;
        }
    }

</style>

<%= params %>
<% session.each do |s| %>
<%= s %>
<% end %>

<div id="numbers">
  <% ("A".."J").to_a.each do |number| %>
  <div class="number"><%= number %></div>
  <% end %>
</div>


<div id="abc">
  <% (1..10).to_a.each do |letter| %>
  <div class="letter"><%= letter %></div>
  <% end %>
</div>


<!---v represents the value in the @grid hash, in this case cell --->
  <div class="container">
    <% $board.grid.each do |k,v| %>
      <% if v.content.is_a?(Ship) %>
        <% if v.hit? %>
          <div class="ship_hit"></div>
        <% else %>
          <div class="ship"></div>
        <% end %>
      <% else %>
        <% if v.hit? %>
          <div class="water">Miss!</div>
        <% else %>
          <div class="water"></div>
        <% end %>
      <% end %>
    <% end %>
  </div>


<form>
  Please place a ship
  <input type="text" name="coordinates">
  Please select orientation
  <input type="text" name="orientation">
  <input type="submit" value="Submit">
</form>

<form>
  please take aim
  <input type="text" name="shot_coordinates">
  <input type="submit" value="Fire">
</form>
