<style>
    .container {
      height: 700px;
      width: 720px;
      /*border: 2px solid blue;*/
    }

    .square {
      height: 65px;
      width: 65px;
      border: 2px solid blue;
      float: left;
    }

    #abc {
      height: 30px;
      width: 700px;
      /*border: 2px solid blue;*/
      float: left;
    }

     .letter {
        height: 30px;
        width: 65px;
        border: 2px solid blue;
        float: left;
      }

      #numbers {
        margin-top: 30px;
        height: 700px;
        width: 30px;
        /*border: 2px solid blue;*/
        float: left;
      }

       .number {
          height: 65px;
          width: 30px;
          border: 2px solid blue;
          float: left;
        }
    }

</style>

<%= params %>
<div id="numbers">
  <% (1..10).to_a.each do |number| %>
  <div class="number"><%= number %></div>
  <% end %>
</div>


<div id="abc">
  <% ("A".."J").to_a.each do |letter| %>
  <div class="letter"><%= letter %></div>
  <% end %>
</div>


<!-- <div> -->
  <div class="container">
    <!-- <a href="place_ship" -->
    <% @board.each do |square| %>
      <div class="square"><%= square %></div>
      <% end %>
  </div>
<!-- </div> -->

<form>
  Please place a ship
  <input type="text" name="coordinates">
  Please select orientation
  <input type="text" name="orientation">
  <input type="submit" value="Submit">
</form>
